[project]
	description = "Visualize Solidity control flow for smart contract security analysis.  :dollar: ? :dollar:"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Vessenes (vessenes)
[access "refs/for/refs/*"]
	read = group user/Peter Vessenes (vessenes)
	push = group user/Peter Vessenes (vessenes)
	label-Code-Review = -2..+2 group user/Peter Vessenes (vessenes)
	label-Verified = -1..+1 group user/Peter Vessenes (vessenes)
	rebase = group user/Peter Vessenes (vessenes)
	removeReviewer = group user/Peter Vessenes (vessenes)
	submit = group user/Peter Vessenes (vessenes)
[access "refs/heads/*"]
	read = group user/Peter Vessenes (vessenes)
	create = group user/Peter Vessenes (vessenes)
	push = +force group user/Peter Vessenes (vessenes)
	pushMerge = group user/Peter Vessenes (vessenes)
[access "refs/tags/*"]
	push = +force group user/Peter Vessenes (vessenes)
	pushTag = group user/Peter Vessenes (vessenes)
	pushSignedTag = group user/Peter Vessenes (vessenes)
